.transforms-container {
    overflow: hidden;
    height: auto;
}

.transforms-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
    border: 3px solid #E5E5E5;
}

.transforms-header {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 42px;
    color: #E0B1CB;
}

.transforms-content-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    h1 {
        color: #FFC8DD;
        font-size: 32px;
        border-bottom: 1px solid #FFC8DD;
        padding-bottom: 8px;
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 15px;
    ul{
        li{
            font-size: 22px;
            color: #FFC8DD
        }
    }
}

.content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.transform-rotate-row, .transform-translate-row, .transform-scale-row, .transform-skew-row{
    margin-bottom: 30px;
}

.content-header-description{
    display: flex;
    flex-direction: column;
    p {
        color: #FFC8DD;
        font-size: 22px;
        padding: 5px 50px;
    }
    h4{
        color: #FFC8DD;
        font-size: 22px;
        padding: 5px 10px;
    }
}

.content-header{
    color: #FFC8DD;
    font-size: 32px;
    border-bottom: 1px solid #FFC8DD;
}

.content-code-button-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.sub-content-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.code-button-row{
    flex-direction: row;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.code-snippet{
    font-size: 14px;
    margin-top: 15px;
    background-color: #CDB4D8;
    height: 100px;
    margin-left: 15px;
    width: 500px;
    padding: 15px;
    .code{
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: bold;
        color:blueviolet;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    align-items: center;
}

.button-style{
    width: 200px;
    height: 50px;
    color:#5E548E;
    font-size: 18px;
    background-color: #CDB4D8;
    border: 1px solid #CDB4D8;
    border-radius: 15px;
}

.transform-rotate-view-button-negative-three-three-degrees{
    width: 200px;
    height: 50px;
    transform: rotate(-33deg);
    color:#5E548E;
    font-size: 18px;
    background-color: #CDB4D8;
    border: 1px solid #CDB4D8;
    border-radius: 15px;
}

.transform-translate-view-button{
    width: 200px;
    height: 50px;
    transform: translate(2em, 0);
    color:#5E548E;
    font-size: 18px;
    background-color: #CDB4D8;
    border: 1px solid #CDB4D8;
    border-radius: 15px;
}

.transform-scale-view-button{
    width: 200px;
    height: 50px;
    transform: scale(1.4);
    color:#5E548E;
    font-size: 18px;
    background-color: #CDB4D8;
    border: 1px solid #CDB4D8;
    border-radius: 15px;
}

.transform-skew-view-button{
    width: 200px;
    height: 50px;
    transform: skew(12deg);
    color:#5E548E;
    font-size: 18px;
    background-color: #CDB4D8;
    border: 1px solid #CDB4D8;
    border-radius: 15px;
}


