.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    ul{
        li{
            font-size: 22px;
            color: #FFC8DD
        }
    }
}

.code-snippet{
    font-size: 14px;
    margin-top: 15px;
    background-color: #CDB4D8;
    height: 80px;
    margin-left: 15px;
    // padding: 15px;
    .line-numbers{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .language-sass{
            font-size: 12px;
            font-weight: bold;
            color:blueviolet
        }
    }
}

.content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.content-header-description{
    display: flex;
    flex-direction: column;
}

.content-header{
    color: #FFC8DD;
    font-size: 32px;
    border-bottom: 1px solid FFC8DD;
}

.button-container {
    display: block;
    text-align: center;
}

.transform-rorate-view-button{
    width: 100px;
    height: 40px;
    transform: rotate(-33deg);
    color:#000000;
    font-size: 12px;
    background-color: #CDB4D8;
}

