.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.header-text {
    display: flex;
    // width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Helvetica';
}